body {
    margin: 0;
    background: #ffffff;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
}



.container {
    width: 100%;
    margin: 0, auto;
    margin-bottom: 0px;
    position: relative;
    overflow: hidden;
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.05)), url("../images/title3.png") no-repeat;
    background-position: bottom 0px  left 50%;
    background-size: 50%;
    background-size: cover;
    display: flex;

    outline: 10px solid rgb(41, 41, 41);
    padding-bottom: 600px;
    
}

.navbar {
    height: 85px;
    width: 100%;
    background: #bccabf99;
    overflow: hidden;
    top:0%;
}

header {
    background-color: slategray;
    /* background-color: transparent;
    background: rgba(0,0,0,0.5); */
    
}

header::after {
    content: '';
    display: table;
    clear: both;

}

.logo {
    float: left;
    width: 200px;
    height: 100px;
    padding: 10px ;
    padding-left: 80px ;
}

 /* Style the navigation bar */

nav {
    height: 125px;
    width: 100%;
    background: #d4eaf8a1;
    position:fixed;
    top:0%;

    overflow: hidden;
    float: center;
    font-weight: 550;
}

nav ul {
    margin: 0;
    padding: 0;
    padding-right: 150px;
    list-style: none;
    float: right;
}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 50px;

}

nav a {
    float: left;
    display: block;
    color: black;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    border: 2px solid #6e6e6e;
    padding: 7px 17px;
    border-radius: 50px;
    
}

nav a:hover{
    background: #66a8ff;
    color: rgb(255, 255, 255);
    border-radius: 25px;
}


.end {
    margin: 0;
    background: #424242;
}

#bottom {
    text-align: left;
    padding: 90px;
    margin-left: 50px;
    padding-bottom: 150px;

}

#bottom h5 {
    font-size: 30px;
    color: #ffffff;
}

#bottom p{
    font-size: 15px;
    color: #ffffff;
    margin-top: -1%;
}

#group {

    text-align: right;
    padding: 20px;
    margin-right: 50px;
    color: #ffffff;

    float: bottom 50%;
    list-style: none;

}

.gap {
    padding: 40px;
}
/* ------------------------------------------------------------------------------------------------------------------ */
/* APP */
#boom {
	background-color: #fffffff8;
	padding: 50px;
	text-align: center;
}
#boom h2 {
	font-size: 36px;
	margin-bottom: 20px;
    font-family:'Courier New', Courier, monospace;
}

#boom p {
	font-size: 18px;
	line-height: 1.5;
	margin-bottom: 30px;
}

.icon {
    float: bottom;
    width: 400px;
    height: 210px;
    padding: 10px ;
}

/* video playing */

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: rgba(0,0,0,0.5);
    margin-bottom: 100px;
    padding: 200px 0;
    position: relative;
    overflow: hidden;
    min-height: 50vh;

}

.back-video {
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;


}

#content {
    text-align: center;
}

#content h1 {
    font-size: 120px;
    color: #ffffff;
}

#content a {
    text-decoration: none;
    display: inline-block;
    color: #ffffff;
    font-size: 24px;
    border: 2px solid #ffffff;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 50px;
}

#content h1:hover {
    -webkit-text-stroke: 2px #ffffff;
    color: transparent;
}


/* ------------------------------------------------------------------------------------------------------------------ */
/* ABOUT */
#mission {

	padding: 50px;
	text-align: center;
    background-color: #ffffff;
}
#mission h2 {
	font-size: 36px;
	margin-bottom: 20px;
}
#mission p {
	font-size: 18px;
	line-height: 1.5;
	margin-bottom: 30px;
}

#us {
	padding: 50px;
	text-align: center;
}
#us h2 {
    font-size: 60px;
	margin-bottom: 20px;
    color: #ffffff;
}
#us p {
	font-size: 18px;
	line-height: 1.5;
    margin: 2px 150px;
    color: #ffffff;
    float: none;
    text-align: center;
}

.logo1 {   
    float: center;
    width: 200px;
    height: 100px;
    padding: 30px ;
}

.team {   
    float: center;
    width: 60%;
    height: 60%;
}

.hero3 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: rgba(0,0,0,0.5);
    margin-bottom: 100px;
    padding: 90px 0;
    position: relative;
    overflow: hidden;
    min-height: 50vh;

}

/* ------------------------------------------------------------------------------------------------------------------ */
/* CONTACT */
#contact {
	background-color: #f2f2f2;
	padding: 50px;
	text-align: center;
}
#contact h2 {
	font-size: 36px;
	margin-bottom: 20px;
}
#contact p {
	font-size: 18px;
	line-height: 1.5;
	margin-bottom: 30px;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* index LAUNCHER */

.text {   

    padding-top: 80px;

}


.logo2 {   
    float: center;
    width: 55%;
    height: 55%;
    margin-right: 90px;
    padding-top: -50px;

}

#launcher {
    margin-top: 0%;
	padding: 50px;
	text-align: center;
    background-color: #ffffff;
}
#launcher h2 {
	font-size: 36px;
	margin-bottom: 20px;
    padding: 36px;
    background-color: #abc6df;

    text-align: center;
}

#launcher p {
	font-size: 18px;
	line-height: 1.5;
	margin-bottom: 30px;
    margin: 2px 400px;
}

#yt {
    padding-top: 120px;
	padding-bottom: 120px;
	text-align: center;
    background-color: #b8def3;
}

#yt h2 {
	font-size: 56px;
	margin-bottom: 20px;
    color: #1f1f1f;
    font-weight: 750;

}

#yt p {
	font-size: 18px;
	line-height: 1.5;
	margin-bottom: 30px;
}

.hero2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: rgba(0,0,0,0.5);
    margin-bottom: 80px;
    padding: 90px 0;
    position: relative;
    overflow: hidden;
    min-height: 50vh;

}

.back-pic {
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
}

#content1 {
    text-align: center;
}

#content1 h2 {
    font-size: 80px;
    color: #ffffff;
}

#content1 p {
	font-size: 18px;
	line-height: 1.5;
    margin: 2px 150px;
    color: #ffffff;
    float: none;
    text-align: center;
}
