body {
    margin: 0;
    background: #222;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
}



.container {
    width: 100%;
    margin: 0, auto;
    margin-bottom: 0px;
    position: relative;
    overflow: hidden;
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.05)), url("../images/title3.png") no-repeat;
    background-position: bottom 0px  left 50%;
    background-size: 50%;
    background-size: cover;
    display: flex;

    outline: 3px solid rgb(77, 77, 77);
    padding-bottom: 600px;
    
}

.navbar {
    height: 85px;
    width: 100%;
    background: #bccabf99;
    overflow: hidden;
    top:0%;
}

header {
    background-color: slategray;
    /* background-color: transparent;
    background: rgba(0,0,0,0.5); */
    
}

header::after {
    content: '';
    display: table;
    clear: both;

}

.logo {
    float: left;
    width: 200px;
    height: 100px;
    padding: 10px ;
    padding-left: 80px ;
}

 /* Style the navigation bar */

nav {
    height: 125px;
    width: 100%;
    background: #d4eaf8a1;
    position:fixed;
    top:0%;

    overflow: hidden;
    float: center;
    font-weight: 550;
}

nav ul {
    margin: 0;
    padding: 0;
    padding-right: 150px;
    list-style: none;
    float: right;
}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 50px;

}

nav a {
    float: left;
    display: block;
    color: black;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    
}

nav a::before {
    content: '';
    display: block;
    width: 0%;
    height: 5px;
    top: 0;
    background-color: #2a41a7;
    position: absolute;
    transition: all ease-in-out 250ms;

}

nav a:hover::before{
    width: 6%;
}


.end {
    margin: 0;
}

#bottom {
    text-align: left;
    padding: 90px;
    margin-left: 50px;
    padding-bottom: 150px;

}

#bottom h5 {
    font-size: 30px;
    color: #ffffff;
}

#bottom p{
    font-size: 15px;
    color: #ffffff;
    margin-top: -1%;
}

#group {

    text-align: right;
    padding: 20px;
    margin-right: 50px;
    color: #ffffff;

    float: bottom 50%;
    list-style: none;

}
/* ------------------------------------------------------------------------------------------------------------------ */
/* HOME */
#boom {
	background-color: #fffffff8;
	padding: 50px;
	text-align: center;
}
#boom h2 {
	font-size: 36px;
	margin-bottom: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

#boom p {
	font-size: 18px;
	line-height: 1.5;
	margin-bottom: 30px;
}

.icon {
    float: bottom;
    width: 400px;
    height: 210px;
    padding: 10px ;
}

/* video playing */

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: rgba(0,0,0,0.5);
    margin-bottom: 100px;
    padding: 200px 0;
    position: relative;
    overflow: hidden;
    min-height: 50vh;

}

.back-video {
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;


}

#content {
    text-align: center;
}

#content h1 {
    font-size: 120px;
    color: #ffffff;
}

#content a {
    text-decoration: none;
    display: inline-block;
    color: #ffffff;
    font-size: 24px;
    border: 2px solid #ffffff;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 50px;
}

#content h1:hover {
    -webkit-text-stroke: 2px #ffffff;
    color: transparent;
}


/* ------------------------------------------------------------------------------------------------------------------ */
/* ABOUT */
#mission {

	padding: 50px;
	text-align: center;
    background-color: #ffffff;
}
#mission h2 {
	font-size: 36px;
	margin-bottom: 20px;
}
#mission p {
	font-size: 18px;
	line-height: 1.5;
	margin-bottom: 30px;
}

.logo1 {   
    float: center;
    width: 200px;
    height: 100px;
    padding: 30px ;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* CONTACT */
#contact {
	background-color: #f2f2f2;
	padding: 50px;
	text-align: center;
}
#contact h2 {
	font-size: 36px;
	margin-bottom: 20px;
}
#contact p {
	font-size: 18px;
	line-height: 1.5;
	margin-bottom: 30px;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Launcher */

